@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
}

body {
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    cursor: pointer;
    transition: 0.25s ease-in;
}
.quizApp {
    width: 800px;
    margin: 0 auto;
}

.title {
    margin-bottom: 24px;
    h1 {
        font-size: 36px;
    }
}
.question_container {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.075);
    text-align: center;
}
.time {
    font-size: 24px;
    font-weight: 500;
    span {
        font-size: 72px;
    }
}
.next_btn {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 18px;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.075);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    &:hover {
        background-color: rgba(0, 0, 0);
    }
}

.question {
    font-weight: 600;
}

.answerOptions {
    margin: 30px 0;
    .option {
        display: block;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.03);
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
